* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-color: hsl(0, 36%, 70%, 0.1);
    display: grid;
    grid-template-rows: 70px auto;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
}

.header img {
    width: 100px;
    margin-left: 40px;
}

.header:first-child[data-show="false"] {
    display: none;
}

.header:last-child[data-show="false"] {
    display: none;
}

.container {
    width: 100%;
    display: grid;
    grid-template-rows: 250px auto;
}

.img-container {
    width: 100%;
    background-image: url(./images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    line-height: 1;
    font-size: 2.8125rem;
    letter-spacing: 0.625rem;
}

.heading span {
    font-weight: 600;
    color: hsl(0, 6%, 24%);
}

.description {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: hsl(0, 36%, 70%);
    margin: 30px 0px 30px 0px;
    line-height: 1.5;
}

.form-container {
    margin-inline: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form {
    position: relative;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 30px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#email {
    width: 80%;
    height: 100%;
    padding-left: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: hsl(0, 6%, 24%);
    outline: none;
}

#email::placeholder {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: hsl(0, 36%, 70%, 0.77);
}

.submit-btn {
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 50px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 40px;
    z-index: 1000;
    cursor: pointer;
    overflow: hidden;

}

.submit-btn[data-validated="false"] {
    cursor: not-allowed;
}

.submit-btn:hover {
    box-shadow: 10px 10px 15px hsl(0, 36%, 70%, 0.3);
}

.submit-btn::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;/
}

.submit-btn:hover::after {
    opacity: 0.2;
}

#desktop-logo {
    display: none;
}

#error-msg {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: hsl(0, 93%, 68%);
    font-size: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

#error-msg[data-show="false"] {
    display: none;
}

@media only screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .img-container {
        height: 100%;
        background-image: url(./images/hero-desktop.jpg);
    }

    .img-container {
        width: 50%;
    }

    #desktop-logo {
        display: block;
        position: absolute;
        top: 1.875rem;
    }

    .header img {
        margin-left: 0px;
    }

    .text-container {
        align-items: start;
        width: 50%;
        height: 100%;
        padding-inline: 80px;
        position: relative;
    }

    .heading {
        text-align: start;
    }

    .description {
        text-align: start;
    }

    .form-container {
        margin-inline: 0px;
    }

    .form {
        margin-inline: 0px;
    }

    .submit-btn {
        width: 20%;
    }

    #error-msg {
        margin-left: 30px;
    }

}